


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#footer {
  color:rebeccapurple;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 50, 1), /* Dark Blue */
    rgba(0, 0, 25, 1) 25%, /* Slightly lighter blue */
    rgba(0, 0, 10, 1) 50%, /* Darker blue */
    rgba(0, 0, 5, 1) 75%, /* Very dark blue */
    rgba(0, 0, 0, 1) /* Full Black */
  );
}



